*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(220, 153, 60);
    font-family: "Black Ops One", system-ui;
    color: rgb(48, 31, 19);;
    text-align: center;
    align-items: center;
}

img {
    height: 100%;
    width: 70px;
    margin-top: 10px;

}
nav h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 600%;
    margin-left: 200px;
}

.div1{
    display: flex;
}
.main1{
    font-family: "Shadows Into Light", cursive;
    

}

.text{
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
    padding: 20px;
}
.bg{
    background-color: rgb(220, 153, 60);
    width: 100%;

}

.sticky{
    background-color:rgb(220, 153, 60);
width: 100%;

text-align: center;
}

.main {
    margin-top: 0;
    background-color:rgb(234, 194, 138);
    width: 100%;
    height: 1000px;
    text-align: center;
    align-items: center;
    border: 12px;
}

.main1 h4{
    margin: 30px; 
    padding: 10px; 
    margin-right: 40px;
    border-radius: 50%;
    
    

}




        #brand{
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color:rgb(234, 194, 138);
        }
        .m1{
            margin-right: 10%;
            margin-left: 20%;
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
            justify-content: center;

        }
        .pic1{
            display: flex; 
         }
         .pic1 img{
             width: 250px;
             height: 250px;
             border-radius: 15px;
            }
            .intro1{
                display: flex;
                flex-direction: column;
                text-align: justify;
                padding-left: 2%; 
           

            }

            .intro1 h2{
                font-size: 18px;
                text-align: justify;
             }
            .brand-p{
                margin-left: 10%;
                margin-right: 10%;
                font-size: 20px;
                text-align: justify;
                font-family: "Roboto", sans-serif;
            
                margin-top: 25px;
             }
             .dunkin {
                display: flex;
                padding: 0px;
                margin-right: 10px;
                font-family: "Roboto", sans-serif;
            }
            
             .nuts {
                 padding-right: 10px;
                 display: flex;
                 flex-direction: column;
                 text-align: unset;
             }
            
             .pic2{
                width: 250px;
                height: 250px;
                border-radius: 15px;
             }




             .pic3{
                display: flex; 
             }
             .pic3 img{
                 width: 250px;
                 height: 250px;
                 border-radius: 15px;
                }
                .intro1{
                    display: flex;
                    flex-direction: column;
                    text-align: justify;
                    padding-left: 2%; 
               
    
                }
    
                .intro1 h2{
                    font-size: 18px;
                    text-align: justify;
                 }
                .brand-p{
                    margin-left: 10%;
                    margin-right: 10%;
                    font-size: 20px;
                    text-align: justify;
                    font-family: "Roboto", sans-serif;
                
                    margin-top: 25px;
                 }
    



                 .dunkin1 {
                    display: flex;
                    padding: 0px;
                    margin-right: 10px;
                    font-family: "Roboto", sans-serif;
                }
                
                 .nuts1 {
                     padding-right: 10px;
                     display: flex;
                     flex-direction: column;
                     text-align: unset;
                 }
                
                 .pic4{
                    width: 250px;
                    height: 250px;
                    border-radius: 15px;
                 }
    





                 
             .pic5{
                display: flex; 
             }
             .pic5 img{
                 width: 250px;
                 height: 250px;
                 border-radius: 15px;
                }
                .intro2{
                    display: flex;
                    flex-direction: column;
                    text-align: justify;
                    padding-left: 2%; 
               
    
                }
    
                .intro1 h2{
                    font-size: 18px;
                    text-align: justify;
                 }
                .brand-p{
                    margin-left: 10%;
                    margin-right: 10%;
                    font-size: 20px;
                    text-align: justify;
                    font-family: "Roboto", sans-serif;
                
                    margin-top: 25px;

                }









                 /* GALLERY SECTION */
 #gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: rgb(234, 194, 138);
    font-family: "Shadows Into Light", cursive;

 }

.img-gallery{
    display: grid;
	grid-template-columns: repeat(3, 10fr);
	grid-gap: 40px;
    background-color: rgb(220, 153, 60);
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1000%;
    padding-right: 1000%;
    }
 .img-gallery img{
    margin: 10px;
	width: 250px;
	height: 250px;
	object-fit: cover;
    transform: scale(0.5s);
    border-radius: 10px;
    background-color: rgb(220, 153, 60);

 }
 .img-gallery img:hover{
    width: 250px;
    height: 250px;
    transition: .6s;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
 }



 #contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: rgb(236, 208, 118);
}
.form{
    border: 3px solid rgb(48, 31, 19);
    border-radius: 8px;
    text-align: justify;
    align-items: center;
    padding: 10px;
    margin: 20px;
   
    background-color: rgb(220, 153, 60);
}
.input{
    height: 30px;
    width: 350px;
    border-radius: 5px;
}
.input-text{
    height: 65px;
    width: 350px;
    border-radius: 5px;
}
#contact table{
    padding: 80px;
    margin: 10px;
}
#contact table td{
    padding: 10px;
}
#contact p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.btn{
    width: 80px;
    height: 35px;
    background-color: rgb(92, 53, 26);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    transform: scale(0.5s);
}
.btn:hover{
    width: 80px;
    height: 35px;
    background-color: rgb(220, 153, 60);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: .6s;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

/* FOOTER */

footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(220, 153, 60);
    margin: 0;
    /* margin-top: 50px; */
    padding: 50px;
    position: relative;
}
footer div{
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.foot img{
    width: 100px;

}
.reach a{
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    padding: 1px;
    text-decoration: none;
    color: rgb(48, 31, 19);
    font-weight: 600;
}
.reach a:hover{
    color:rgb(252, 227, 194);
}
.address{
    color: rgb(48, 31, 19);
}
.address a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(113, 61, 9);
}
.address a:hover{
    color:rgb(252, 227, 194);
}




         